sever:
  port: 9090

spring:
  application:
    name: gateway

  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: springboot-oauth 
            client-secret: iouGciTxVIa0cXvYApFVsiz77cew2Lpf
            scope: openid, email, profile
            redirerct-uri: http://localhost:3000/callback
          provider:
            keycloak:
              issuer-uri: http://localhost:8080/realms/master

  cloud:
    gateway:
      routes:
      - id: resource
        uri: http://localhost:9000
        predicates:
          - Path=/resource
        filters:
          - TokenRelay=